
h1 {
    color: #e07a5f;
    font-size: 50px;
    width: 100%;
}


body {
    background-color: #fef6e4;
    font-family: sans-serif;
}

button {
    background-color: coral;
    color: white;
    border: none;
    border-radius: 50px;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    cursor: pointer;
}

.page-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding: 50px;
}

.meal-card {
    background-color: #ffffff;
    border-color: #e07a5f;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    font-size: 16px;
    width: 400px;
    height: 400px;
    text-align: left;
    align-items: flex-start;


}

.left-side {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    align-items: baseline;
    align-content: center;
}

.right-panel {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}